<!--Form for Add and edit part to task -->

<div class="modal-dialog modal-lg">
  <div class="modal-content">
      {% if obj %}
      <form method="POST"  class="parts_task" action="{% url 'work_orders:update_part' part %}" data-endpoint="{% url 'inventory:part_price' %}">
      {% else %}
      <form method="POST"  class="parts_task" action="" data-endpoint="{% url 'inventory:part_price' %}">
      {% endif %}
          {% csrf_token %}
          <div class="col-xl-12 col-md-12 mb-12">
          {% if obj %}
               {% firstof "warning" as color %} <!-- create variables in template. -->
          {% else %}
              {% firstof "success" as color %}
          {% endif %}
           <div class="card border-left-{{ color }} shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          {% if obj %} Edit {% else %} Add {% endif %} Parts
                      </div>
                      {{obj}}
                      <div class="dropdown-divider"></div>
                      
                      <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                        {% for error in form.non_field_errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
            
                      {% for field in form %}
                        <div class="form-group">
                          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                          {{field}}<span class="{{ field.label }}"></span>
                          <div class="{% if field.errors %} invalid{% endif %}">
                            {% for error in field.errors %}
                            <br>
                              <p class="help-block">{{ error }}</p>
                            {% endfor %}
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                    
                      <div class="dropdown-divider"></div>
                  </div>
                  <div class="col-auto">
                    <div class="col">
                      <button type="Submit" class="btn btn-primary"><span class="fa fa-save"></span> Save</button>
                      <button type="button" class="btn btn-danger" onclick="return close_modal()">
                          Cancel
                      </button>
                    </div>
                  </div>
                  </div>
              </div>
          </div>
      </form>
  </div>
</div>



