{% extends "base.html" %}
{% load static %}
{% block content %}
{% if object %}
  {% firstof 'Edit Task' as title %}
{% else %}
  {% firstof 'New Task' as title %}
{% endif %}
<!-- Page Header -->
<div class="page-header row no-gutters py-4">
	<div class="col-12 col-sm-4 text-center text-sm-left mb-4 mb-sm-0">
		<span class="text-uppercase page-subtitle">Tasks</span>
		<h3 class="page-title">{{ title }}</h3>
	</div>
</div>
<!-- End Page Header -->
<div class="col col-lg-12 col-md-12 col-sm-12 mb-4 py-4">
  <div class="card card-small h-100">
    <div class="card-header border-bottom">
      <h6 class="m-0">Work order: 
          <span class="badge badge-primary">
				{{ request.session.work_order_slug }}
          </span>
      </h6>
      <div class="block-handle"></div>
    </div>
    <div class="card-body pt-0">
		<form method="POST" data-endpoint="{% url 'work_orders:update_task_time_labor_ajax' %}" class="task-form" task-pk="{{task_pk}}"> <!-- check for error -->
          {% csrf_token %}
          {{ form.work_order.as_hidden }}
          <div class="row border-bottom py-2 bg-light">
              <div class="col-12 col-sm-6 d-flex mb-2 mb-sm-0">
                <div class="btn-group btn-group-sm btn-group-toggle d-flex my-auto mx-auto mx-sm-0" data-toggle="buttons">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div id="sessions-overview-date-range" class="input-daterange input-group input-group-sm my-auto ml-auto mr-auto ml-sm-auto mr-sm-0" style="max-width: 150px;">
                    <button type="submit" class="btn btn-primary btn-sm float-right" name="save">Save</button>
                    <a href="{% url 'work_orders:detail' request.session.work_order_slug %}" class="btn btn-danger btn-sm float-right">Cancel</a>
                </div>
              </div>
            </div>
            <div id="analytics-overview-sessions-legend"></div>
          <!-- Form structure -->
          <div class="row">
              <!-- start left -->
              <div class="col-6 py-4">
                  <!-- left header -->
                  <div class="form-group row">
                      <label for="inputTitle" class="col-sm-3 col-form-label">Title:</label>
                      <div class="col-sm-9">
                          {{ form.title }}
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="inputDescription" class="col-sm-3 col-form-label">Description:</label>
                      <div class="col-sm-9">
                          {{ form.description }}
                      </div>
                  </div>
                  <!-- end header -->
              </div>
              <!-- end left -->
              <!-- start right -->
              <div class="col-1"></div>
              <div class="col-5 py-4">				  
					<div class="form-group row">
						<label for="inputStatus" class="col-sm-3 col-form-label">Status:</label>
						<div class="col-sm-9">
							{{ form.status }}
						</div>
					</div>
					<div class="form-group row">
						<label for="inputMechanic" class="col-sm-3 col-form-label">Mechanic:</label>
						<div class="col-sm-9">
							{{ form.mechanic }}
						</div>
					</div>
					<div class="form-group row">
						<label for="inputTime" class="col-sm-3 col-form-label">Time labor:</label>
						<div class="col-sm-9">
              <!-- {% if task_pk == 0 %}
                <fieldset disabled="disabled">
                  {{ form.time_labor }}
                </fieldset>
              {% else %} -->
                {{ form.time_labor }}
              <!-- {% endif %} -->
						</div>
					</div>
                    <div class="form-group row">
                      <label for="input_total_parts" class="col-sm-6 col-form-label">Total parts:</label>
                      <div class="col-sm-4">
						            {{ form.total_parts }}
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="input_total_labor" class="col-sm-6 col-form-label">Total labor:</label>
                      <div class="col-sm-4">
                          {{ form.total_labor }}
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="input_total_task" class="col-sm-6 col-form-label">Total task:</label>
                      <div class="col-sm-4">
							          {{ form.total_task }}
                      </div>
                  </div>
              </div>
              <!-- end right -->
          </div>
          <!-- start detail -->
      </form>
      <div class="row border-bottom py-2 bg-light">
          <div class="col-12 col-sm-6 d-flex mb-2 mb-sm-0">
            <div class="btn-group btn-group-sm btn-group-toggle d-flex my-auto mx-auto mx-sm-0" data-toggle="buttons">
                <h6 class="m-0">Parts Detail:</h6>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div id="sessions-overview-date-range" class="input-daterange input-group input-group-sm my-auto ml-auto mr-auto ml-sm-auto mr-sm-0" style="max-width: 150px;">
			{% if task_pk == 0 %}
				<button type="button" class="btn btn-primary btn-sm float-right" disabled> New part <i class="fas fa-plus-square"></i></button>
			{% else %}
				<button type="button" onclick="return open_modal('{% url 'work_orders:add_part' task_pk %}')" class="btn btn-primary btn-sm float-right"> New part <i class="fas fa-plus-square"></i></button>
			{% endif %}
            </div>
          </div>
      </div>
      <form action="{% url 'work_orders:start_or_end' %}">
          <div class="row">
              <div class="col">
                  <table class="table table-striped table-hover dt-responsive nowrap" style="width:100%">
                      <thead>
						<th scope="col">#</th>
						<th scope="col">Part #</th>
						<th scope="col">Quantity</th>
						<th scope="col">Price</th>
						<th scope="col">Subtotal</th>
						<th scope="col">Actions</th>
                      </thead>
                      <tbody>
						{% for part in parts %}
						<tr>
							<td scope="row">{{forloop.counter}}</td>
							<td>{{part.part}}</td>
							<td>{{part.quantity}}</td>
							<td>{{part.price}}</td>
							<td>{{part.subtotal}}</td>
							<td>
								<button type="button" class="update-part btn btn-sm btn-primary" onclick="return open_modal('{% url 'work_orders:update_part' part.pk %}')" ><i class="fas fa-edit"></i>
								</button>
								<button type="button" class="delete-part btn btn-sm btn-danger" data-id="{% url 'work_orders:delete_part' part.pk part.task.pk %}"><i class="fas fa-trash-alt"></i>
								</button>
							</td>
						</tr>							    
						{% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
          <!-- Fin Detalle -->
      </form>
    </div>
  </div>
</div>

<!-- Modal adding , Deleting task  -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
	<div class="modal-dialog modal-dialog-centered" role="document">
    	<div class="modal-content"></div>
  	</div>
</div>			  

{% endblock %}



{% block js %}i
<!-- <script>
	$(function () {
		// lauch modal add part button
		$(".js-add-part").each(function () {
			$(this).modalForm({formURL: $(this).data('id')});
		});

		// Update part button
		$(".update-part").each(function () {
			$(this).modalForm({formURL: $(this).data('id')});
		});

		// Delete part button
		$(".delete-part").each(function () {
			$(this).modalForm({formURL: $(this).data('id')});
		});

	});
</script> -->

<script src="{% static 'js/truckshop.js' %}"></script>
{% endblock %}




