{% extends 'base.html' %}

{% block title %}Main{% endblock title %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12 col-md-6 mx-auto py-5">
				{% include 'search/snippets/search.html' %}
		</div>
	</div>
	<div class="row justify-content-center">
      <div class="col-10 col-md-10 mx-auto py-5">
        <table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col"># Work Order</th>
		      <th scope="col">Created</th>
		      <th scope="col">Client</th>
		      <th scope="col">Truck</th>
		      <th scope="col">Status</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for item in object_list %}
		  	<tr>
		      <th scope="row">
		      	<a href="{{ item.get_absolute_url }}" title="work_order">{{ item.number_order }}</a>
		      </th>
		      <td>{{ item.date }}</td>
		      <td>{{ item.client }}</td>
		      <td>{{ item.truck }}</td>
		      <td>in process</td>
		    </tr>
		  	{% endfor %}
		  </tbody>
		</table>
      </div>
      <div class="col-2 col-md-2 col-sm-12">
        
      </div>
    </div>
</div>
{% endblock content %}
