{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<form method="POST" data-endpoint="{% url 'work_orders:update_task_time_labor_ajax' %}" class="task-form" task-pk="{{task_pk}}">
				{% csrf_token %}
			  <div class="form-row justify-content-center">
				<div class="col-12 col-md-6 mx-auto py-5">
						Work Order: {{form.work_order}}
				</div>
			  </div>
			  <div class="form-row">
			  	<div class="card  col-md-6">
				  <div class="card-header">
				   Task
				  </div>
				  <div class="card-body">
				    <div class="form-group">
				      <label for="inputTitle">Title:</label>
				      {{form.title}}
				    </div>
				    <div class="form-group">
				      <label for="inputdescription">Description:</label>
				      {{form.description}}
				    </div>
				  </div>
			  	</div>

			  	<div class="card  col-md-3">
				  <div class="card-header">
				    Time
				  </div>
				  <div class="card-body">
				    <div class="form-group">
				      <label for="inputMechanic">Mechanic:</label>
				      {{form.mechanic}}
				    </div>
				    <div class="form-group">
				      <label for="inputTime">Time labor:</label>
				      {{form.time_labor}}
				    </div>
				  </div>
			  	</div>
			  	<div class="card  col-md-3">
				  <div class="card-header">
				    Totals
				  </div>
				  <div class="card-body">
				    <div class="form-group">
				      <label for="inputMechanic">Total parts:</label>
				      <span class="Totalparts">{{form.total_parts}}</span>
				    </div>
				    <div class="form-group">
				      <label for="inputTime">Total labor:</label>
				      <span class="Totallabor">{{form.total_labor}}</span>				      
				    </div>
				    <div class="form-group">
				      <label for="inputTime">Total task:</label>
				      {{form.total_task}}
				    </div>
				    <div class="form-group">				    	
				      <button type="submit" class="btn btn-primary float-right">Save</button>
				      <button type="button" class="btn btn-danger float-right">Cancel</button>
				    </div>
				  </div>
			  	</div>
			  </div>
			</form>
			
			  <div class="row mx-auto py-5">	
			  	<div class="col-md-12 ">
			  		<div class="card">
					  <div class="card-header">
					    Parts <button type="button" class="btn btn-primary btn-sm float-right js-add-part" data-id="{% url 'work_orders:add_part' task_pk %}"> New part <i class="fas fa-plus-square"></i></button>
					  </div>
					  	<div class="card-body">
				          	<table class="table">
							  <thead>
							  	<tr>
							      <th scope="col">#</th>
							      <th scope="col">Part #</th>
							      <th scope="col">Quantity</th>
							      <th scope="col">Price</th>
							      <th scope="col">Subtotal</th>
							      <th scope="col">Actions</th>
							    </tr>
							  </thead>
							  <tbody>
							  	{% for part in parts %}
							    <tr>
							      <td scope="row">{{forloop.counter}}</td>
							      <td>{{part.part}}</td>
							      <td>{{part.quantity}}</td>
							      <td>{{part.price}}</td>
							      <td>{{part.subtotal}}</td>
							      <td>
							      	<button type="button" class="update-part btn btn-sm btn-primary" data-id="{% url 'work_orders:update_part' part.pk %}"><i class="fas fa-edit"></i>
							      	</button>
							      	<button type="button" class="delete-part btn btn-sm btn-danger" data-id="{% url 'work_orders:delete_part' part.pk part.task.pk %}"><i class="fas fa-trash-alt"></i>
							      	</button>
							      </td>
							    </tr>							    
							    {% endfor %}
							  </tbody>
							</table>	
				    	</div>	
			  		</div>
			  	</div>			    				
			  </div> 
		</div>
	</div>
</div>

<!-- Modal adding , edit parts on the task  -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
	<div class="modal-dialog modal-dialog-centered" role="document">
    	<div class="modal-content"></div>
  	</div>
</div>			  

{% endblock %}



{% block js %}
<script>
	
	$(function () {
		// lauch modal add part button
    	$(".js-add-part").modalForm({formURL: $(this).data('id')});

    	// Update part button
	    $(".update-part").each(function () {
	      $(this).modalForm({formURL: $(this).data('id')});
	    });

	    // Delete part button
	    $(".delete-part").each(function () {
	      $(this).modalForm({formURL: $(this).data('id')});
	    });

	});
</script>

<script src="{% static 'js/truckshop.js' %}"></script>

{% endblock %}